<!--
  Generated template for the ViewchildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Senarai Anak</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>

    <div class="login-box">

        <h5 style="color: white;" text-center>Senarai anak yang telah didaftar:</h5>

        <h5 *ngIf="items2 ==''" style="color: white;" text-center>Tiada.</h5>
        
          <ion-item *ngFor="let item of items2" (click)="viewEntry({ record: item })">
              <h2>Nama: {{item.name}}</h2>
              <h2>MyKid: {{item.mykid}}</h2>
              <h2>Kenyang: {{item.full}} kali</h2>
              <h2>Ibu Susuan: {{item.ibususuan}}</h2>
              <h2>IC Ibu Susuan: {{item.icibususuan}}</h2>
            </ion-item>
          
      </div>

</ion-content>
