page-searchavailable {
        .scroll {
            height: 100%
        }
    
        #map {
            width: 100%;
            height: 40%;
        }
    
    
        #asd{
            font-size:22px;
            color: white;
        }
        #topButtons button {
            margin-left: 60%;
            width:157px;
            height: 35px;
            background-color: rgb(42, 77, 153);
        } 
        .login-content {
            background: url("../assets/imgs/bg.png") no-repeat center center fixed;
            background-repeat: no-repeat;
             background-size: cover;
         
            .logo-row {
              padding-top: 50px;
              border-radius : 15px; 
              background: #399F8B;
              padding: 20px 20px 10px 20px;
              margin-top: 10px;
            }
         
            .login-box {
              background: rgb(58, 58, 58);
              padding: 20px 20px 10px 20px;
              margin-top: 10px;
              border-radius : 15px; 
            }
         
            ion-row {
               align-items: center;
               text-align: center;
             }
         
             ion-item {
              border-radius: 30px !important;
              padding-left: 30px !important;
              font-size: 0.9em;
              border: 1px solid #ffffff;
              border-bottom: 0px !important;
              box-shadow: none !important;
          }
    
             ion-item-sliding {
              border-radius: 30px !important;
              font-size: 0.9em;
              border: 1px solid #ffffff;
              border-bottom: 0px !important;
              box-shadow: none !important;
              margin-bottom: 10px;
          }
         
             .signup-col {
               margin: 0px 16px 0px 16px;
               padding-bottom: 20px;
             }
         
             .item-inner {
               border-bottom-color: #ffffff !important;
               box-shadow: none !important;
             }
         
             .submit-btn {
               background: #51CFB1;
               border-radius: 30px !important;
               border: 1px solid #ffffff;
             }
         
             .register-btn {
               color: #ffffff;
               font-size: 0.8em;
             }
          }
    
          #topButtons button {
            margin-left: 9px;
            width:127px;
            height: 35px;
              background-color: rgb(42, 77, 153);
          }
    
    
    
}
